.c1{background-color: #e89da4;
    width: 1512px;
    height: 50em;
    border-radius: 31px;
    display: flex;
    justify-content:center;
    align-items: center;
    
   
}
body{background-color: #e89da4;

}


.c2{
    background-image: url(assets/bany.jpg);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80em;
    height:10em;
    top: 94px;
    left: 165px;
    border-radius: 46px;
    border: 1px;
   opacity: 40%;
    display: flex;
    align-items:center;
    flex-direction: column;
     width: 1166px;
    height: 780px;
    top: 94px;
    left: 165px;
    border-radius: 46px;
    border: 1px;
    gap:5px;
   margin: 40%;
}

.in{
    width: 700px;
    height: 50px;
    left:3px;
    border-radius: 21px;
    background-color:#FFD4D4;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 4%;
    padding-left: 20px;
    font-family:'Reem Kufi Ink', sans-serif;

}
   




h1{
    width: 482px;
    height: 114px;
    /* top:159px;
    left: 577px; */
    font-family: 'carter one',sans-serif;
    font-weight: 400;
    size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #730002;
    text-align: center;
    font-style: normal;
    margin-bottom: 0%;
    margin-top: 2em;
    padding-bottom: 0%;
    padding: 0em;
   
}

h3{
    width: 222px;
    height: 30px;
    top: 349px;
    left:615px;
    font-family: 'ream Kufi Ink',sans-serif;
    font-weight: 400;
   size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   color:#730002;
    
}



img{
    width: 210px;
    height: 10em;
    /* top: 696px;
    left: 643px; */
    opacity: 60%;
}

.ur_task{
    
    
    width:715px;
    height: 60px;
    /* top: 237px; */
    /* left: 369px; */
    border-radius: 53px;
    background-color: #FFD4D4;
    font-size: 28px;
    font: 'Reem Kufi Ink';
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 30px;
    margin-top: 0%;
}

.pen{
    scale:fit;
    width: 55px;
    height: 44px;
    top:11px;
    left: 580px;
}

.c-in {
    position: relative;
    width: 715px;
    
}

.pen, .x {
    position: absolute;
    top: 10px; 
    opacity: 1;
}



.x {
    right: 10px; 
    width: 53px; 
    height: 45px; 
   
}
.task{
    position: relative;
    width: 715;
    
}




.add {
    position: absolute;
    top: 20%;
    right: 10px; 
    width: 60px;
    height: 50px; 
    opacity: 1;
   
   
    
}

@media screen and (max-width: 480px){
.c1{background-color: #e89da4;
    width: 100%;
    height: 1680px;
    
   
}


.c2{
    width: 780px;
    height: 1300px;
    text-align: center;
    
   
}

.market, .code, .hadith, .arabic, h1, h3,  .ur_task, .task, .add{
    width: 700px;
    height: 64px;
    font-size: 28px;
    align-items: stretch;
  

}
   .c-in {
    width: 715px;
    height: 64px;
   
   
   
   }
    .pen, .x {
     width: 40px;
     height: 40px;
     top: 10px; 
    }
    .c2{
        gap: 50px;
    }

 .add {
    width: 50px;
    height: 50px; 
    top: 20%;
    right: 10px;
    
 };
 img{
    width: 60em;
    height: 60em;
    /* top: 696px;
    left: 643px; */
    opacity: 60%;
}
}